.topNav {
  height: 75px;
  /* background-color: #ffc017; */
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(25, 25, 25, 1);
}

.topNav > div {
  flex-grow: 1;
}

.logo {
  height: 30px;
}

.navOption {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 70px;
}

.navOption > div {
  margin: 10px;
}

.logoHead {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.imgClass {
  height: 50px;
  width: 200px;
}

.homeBody {
  height: 400px;
  /* background-color: #ffc017; */
  background-image: url("./homeBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(25, 25, 25, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 400px; */
  /* align-items: center; */
}

.homeText {
  font-size: 60px;
  padding: 40px 40px 10px 40px;
  display: flex;
  justify-content: center;
}

.homeBody > div > div {
  margin-bottom: 40px;
}

.subText {
  padding-left: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.buttonCont {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
}

/* .homePostBody > div {
  margin: 40px;
} */

.homePostBody {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* flex-direction: column; */
  /* align-items: center; */
  margin: 50px 300px;
}

.edit {
  /* background-color: rgb(235, 229, 229); */
  padding: 12px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border-radius: 9999px;
  position: relative;
  left: 400px;
  bottom: 200px;
}
